.bf9b6481 {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.c7ec6da9 {
	padding: 75% 0 0 0;
}

.e0332f45 {
	padding: 66.67% 0 0 0;
}

.e51bb0f5 {
	padding: 81.82% 0 0 0;
}

.f63aa9f3 {
	padding: 75.4% 0 0 0;
}
